{{> brand}}
<div class="d-flex flex-wrap flex-column justify-content-center container-fluid align-items-center contactContainer">
    <h1 class="text-white">Get in touch!</h1>
        <div class="m-4"><button
            type="button"
            class="btn btn-outline-light"
            title="Email me"
        >
            <a href="mailto:4518gg@gmail.com" title="Email me" target="_blank"
            >4518gg@gmail.com</a
            >
        </button>
        </div>

        <div class="m-4">
        <button
            type="button"
            class="btn btn-outline-light mx-2"
            title="carlsantiago on GitHub"
        >
            <a
            href="https://github.com/carlsantiago"
            title="carlsantiago on GitHub"
            target="_blank"
            >
            <i class="fab fa-github-alt"> </i>
            </a>
        </button>
        <button
            type="button"
            class="btn btn-outline-light mx-2"
            title="Carl Santiago's resume on LinkedIn"
        >
            <a
            href="https://linkedin.com/in/carlsantiago"
            title="Carl Santiago's resume on LinkedIn"
            target="_blank"
            >
            <i class="fab fa-linkedin"> </i>
            </a>
        </button>
        <button
            type="button"
            class="btn btn-outline-light mx-2"
            title="Carl Santiago on Facebook"
        >
            <a
            href="https://www.facebook.com/4518GG/"
            title="Carl Santiago on Facebook"
            target="_blank"
            >
            <i class="fab fa-facebook"> </i>
            </a>
        </button>
    </div>
</div>
{{> buttons }}