{{> brand}}

    <div
      class="
        h-100
        container
        d-flex
        justify-content-center
        align-items-center
        flex-column
      "
    >
      <div class="d-flex flex-row justify-content-center align-items-center text-white">
        <img src="/images/carl.png" id="avatar" />
        <p>
          Hello there!<br />
          Welcome to my portfolio! <br />
          <br />
          I'm an aspiring full-stack web developer <br />
          currently studying through a coding bootcamp
        </p>
      </div>
      {{> buttons }}
    </div>