@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #11324d;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Josefin Slab", sans-serif;
  text-align: center;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 22px;
}

/* Start Navbar */
nav {
  font-weight: 300;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #6b7aa1;
  z-index: 99;
  box-shadow: 0 7px 20px 0 rgb(0 0 0 / 40%), 0 4px 10px 0 rgb(0 0 0 / 40%);
  height: 3em;
  min-width: 20rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0 20px;
}

/* To animate navbar when hover */

.nav-links .animated {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(
    to left,
    rgb(15, 15, 15),
    #000000 50%,
    #ffffff 1%
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.1s ease-out;
}

.animated:hover {
  background-position: -100%;
}

/* START OF HEADER */

header {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  font-size: 28px;
  display: flex;
  justify-content: center;
  height: 25rem;
  margin-top: 3rem;
  flex-direction: column;
  width: 100%;
}

header h1,
header h2 {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  font-family: "Josefin Slab", sans-serif;
  padding-bottom: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: normal;
}

/* START OF MAIN CONTAINER */

#avatar {
  border-radius: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #113552;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding: 50px 0;
  margin: 0 auto;
}

.container #intro-text {
  text-align: justify;
  max-width: 60%;
  padding: 50px 0;
  color: #c1cfc0;
  margin-bottom: 200px;
}

.container .projects {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  max-width: 65%;
  margin-top: 30px;
  height: auto;
  justify-content: center;
}

.projects a {
  border-style: solid;
  border-width: 4px;
  border-color: #001c31;
  height: 180px;
  width: 360px;
  margin: 2px;
  justify-content: center;
}

.img-overlay {
  font-size: 24px;
  color: #33251f;
  border-style: none;
  border-color: #11324d;
  border-width: 3px;
  background-color: #c1cfc0;
  width: 200px;
  text-align: justify;
  z-index: 99;
  padding-left: 8px;
}
.img-overlay p {
  font-size: 18px;
}
#project1 {
  background-image: url(../images/project.jpg);
  height: 270px;
  width: 720px;
}

#project2 {
  background-image: url(../images/project2.jpg);
}

#project3 {
  background-image: url(../images/project3.jpg);
}

#project4 {
  background-image: url(../images/project4.jpg);
}

#project5 {
  background-image: url(../images/project5.jpg);
}

.projects {
  margin-bottom: 200px;
}
.category-header {
  border-top: 8px solid #c1cfc0;
  border-radius: 5px;
  width: 400px;
  color: #c1cfc0;
}

.about {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding: 50px 0;
  line-height: 30px;
  color: #c1cfc0;
  justify-content: center;
  align-items: center;
}

.phar {
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 40px;
  margin-bottom: 200px;
}

.about img {
  margin-bottom: 30px;
}

/* CONTACT FORM */

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #6b7aa1;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #6b7aa1;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #6b7aa1;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #6b7aa1;
}

.contact {
  margin-bottom: 150px;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #c1cfc0;
  width: 100vw;
  height: 50px;
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

footer p {
  padding-right: 5px;
}

footer .social a {
  font-size: 18px;
  padding: 3px;
}
