/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

li {
  list-style-type: none;
}

body {
  position: relative;
  background-color: #0f131e;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h3 {
  font-size: 1.4em;
}

/* Navbar */

.navBtn {
  color: white;
}

/* HEADER */

header {
  font-size: 1.5em;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#name {
  font-size: 4em;
  text-align: center;
  letter-spacing: 0.125em;
  color: white;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
  margin-bottom: 30px;
}

header h2 {
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: normal;
}

/* MAIN CONTAINER */

#avatar {
  max-width: 15%;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #161a26;
}

#section1 {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0vw;
  padding: 50px 0;
  width: 60vw;
}

.container #intro-text {
  text-align: center;
  max-width: 85%;
  padding: 50px 0;
  color: #c1cfc0;

  font-size: 1.25em;
  letter-spacing: 2px;
  line-height: 35px;
}

.container .projects {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  justify-content: center;
}

/* Divider for every section */
.category-header {
  border-top: 8px solid #c1cfc0;
  border-radius: 5px;
  color: #c1cfc0;
  text-align: center;
  margin-top: 200px;
}

.about {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  line-height: 30px;
  color: #c1cfc0;
  justify-content: center;
  align-items: center;
}

.phar {
  font-size: 1.25em;
  text-align: center;
  letter-spacing: 1px;
  line-height: 40px;
}

.about img {
  margin-bottom: 30px;
}

/* CONTACT FORM */

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #6b7aa1;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #6b7aa1;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #6b7aa1;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #6b7aa1;
}

.contact {
  margin-bottom: 150px;
  width: 40vw;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #c1cfc0;
  width: 100vw;
  height: 7vh;
  text-align: center;
  font-size: 1em;
}

footer p {
  padding-right: 5px;
}

footer .social a {
  font-size: 1em;
  padding: 3px;
}

/* Small devices */
@media screen and (max-width: 376px) {
  body {
    font-size: 16px;
  }
  #name {
    font-size: 3em;
  }

  #navbarSupportedContent {
    display: flex !important;
    justify-content: start !important;
  }
}

/* Medium Devices */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Large devices */
/* @media screen and (min-width: 1024px) {
    body {
      font-size: 22px;
    }

    .container {
      width: 50vw;
      margin-right: auto;
      margin-left: auto;
    }

    .container .projects {
      width: 100vw;
    }

    #project1 {
      background-size: 720px 270px;
      width: 720px;
    }

    header {
      background-size: 100vw 50vh;
      height: 50vh;
    }

    .contact {
      width: 40vw;
    }
  } */

/* Desktop */
/* @media screen and (min-width: 1456px) {
    .container {
      width: 40vw;
      margin-right: auto;
      margin-left: auto;
    }

    .container #intro-text {
      text-align: justify;
    }

    .phar {
      text-align: justify;
    }
    .container .projects {
      width: 50vw;
    }
  }
} */
